
@{Layout="/Views/Shared/_layout.cshtml";}
@{
    ViewBag.Title = "adminHome";
}
<script>
    
    </script>
<body>
    <a href="/Admin/addMobile">Add Mobile</a><br/><br />
    <a href="/Admin/update">Update Mobile</a><br/><br />
    <a href="/Admin/view">View Orders</a><br/><br />
    <a href="/Admin/logout">LogOut</a><br/><br />
</body>
