
@{Layout="/Views/Shared/_layout.cshtml";}

<body>
        <form style="border: double;text-align:center" action="/Admin/update2">
    Name <input type="text" name="name" />
    <br/><br/><br/>
       
    <input type="submit" id="btn" value="Search">
            </form>
    <br/><br/><br/>

</body>


