
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Product Details | E-Shopper</title>
    <link href="../../Content/animate.css" rel="stylesheet" />
    <link href="../../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Content/main.css" rel="stylesheet" />
    <link href="../../Content/prettyPhoto.css" rel="stylesheet" />
    <link href="../../Content/price-range.css" rel="stylesheet" />
    <link href="../../Content/responsive.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="~/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" @*href="~/images/ico/apple-touch-icon-144-precomposed.png"*@>
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								@if (Session["userName"]!=null) {<li> You are Log in as @Session["username"]</li>}
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="www.facebook.com/syedmurtaza.512"><i class="fa fa-facebook"></i></a></li>
								<li><a href=""><i class="fa fa-twitter"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header_top-->
		
		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-sm-4">
						<div class="logo pull-left">
							<a href="index.cshtml"><img src="~/images/home/logo.png" />@*<img src="~/images/home/logo.png" alt="" />*@</a>
						</div>
						
					</div>
					<div class="col-sm-8">
						<div class="shop-menu pull-right">
							<ul class="nav navbar-nav">
								
								<li><a href="/Client/cart"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li> @if (Session["userName"] == null) {<a href="/Client/login"><i class="fa fa-lock">Login</i> </a>}</li>
                                <li> @if (Session["userName"] != null) {<a href="/Admin/logout"><i class="fa fa-lock">Log Out</i> </a>}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->
	
		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="index">Home</a></li>
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="index">Products</a></li>
										<li><a href="productdetails" class="active">Product Details</a></li> 
										<li><a href="cart">Cart</a></li> 
										<li><a href="login">Login</a></li> 
                                    </ul>
                                </li> 
								
								<li><a href="contactus">Contact</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="search_box pull-right">
							<input type="text" placeholder="Search"/>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->
    <body>
        @RenderBody();
    </body>
    <footer id="footer"><!--Footer-->
		
		
		<div class="footer-bottom">
			<div class="container">
				<div class="row">
					<p class="pull-left">Copyright © 2013 SM MEHDI Mobiles Inc. All rights reserved.</p>
					<p class="pull-right">Designed by <span><a target="_blank" href="">Syed Murtaza Mehdi</a></span></p>
				</div>
			</div>
		</div>
		
	</footer><!--/Footer-->
    <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/contact.js"></script>
    <script src="../../Scripts/gmaps.js"></script>
    <script src="../../Scripts/html5shiv.js"></script>
    <script src="../../Scripts/jquery.js"></script>
    <script src="../../Scripts/jquery.prettyPhoto.js"></script>
    <script src="../../Scripts/jquery.scrollUp.min.js"></script>
    <script src="../../Scripts/main.js"></script>
    <script src="../../Scripts/price-range.js"></script>
    
