@model  List<Term_Project.Models.cartItem>

    <link href="~/Content/animate.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />
<link href="~/Content/prettyPhoto.css" rel="stylesheet" />
<link href="~/Content/price-range.css" rel="stylesheet" />
<link href="~/Content/responsive.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<html>

 <script src="../../Scripts/bootstrap.min.js"></script>
    <script src="../../Scripts/contact.js"></script>
    <script src="../../Scripts/gmaps.js"></script>
    <script src="../../Scripts/html5shiv.js"></script>
    <script src="../../Scripts/jquery.js"></script>
    <script src="../../Scripts/jquery.prettyPhoto.js"></script>
    <script src="../../Scripts/jquery.scrollUp.min.js"></script>
    <script src="../../Scripts/main.js"></script>
    <script src="../../Scripts/price-range.js"></script>
<body>
	<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="quantity">Quantity</td>
							<td></td>
						</tr>
					</thead>
					<tbody>
                        @foreach(var n in ViewBag.n){
						<tr>
							<td class="cart_product">
								<a ><img src="@n.itemId" alt=""></a>
							</td>
							<td class="cart_quantity">
								<div class="cart_quantity_button">
									
									<input class="cart_quantity_input" type="text" name="quantity" value="@n.quantity" autocomplete="off" size="2">
								</div>
							</td>
						</tr>}

						
					</tbody>
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			
			
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span></span></li>
							<li>Eco Tax <span>$2</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>$61</span></li>
						</ul>
							<a class="btn btn-default update" href="">Update</a>
							<a class="btn btn-default check_out" href="/Admin/check">Check Out</a>
					</div>
				</div>
			</div>
	</section><!--/#do_action-->

	
    <script src="js/jquery.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/main.js"></script>
</body>
</html>